.header {
  width: 100%;
  height: 350px;
  background-image: radial-gradient(
    rgb(255, 192, 226),
    rgb(255, 192, 226),
    rgb(239, 93, 222)
  );
  align-content: center;
}

.header_text {
  text-align: center;
  color: #c03ec0;
  font-family: "Courier New", Courier, monospace;
  border-style: dotted;
  font-size: xx-large;
}
